.app {
  text-align: center;
  height: 100vh;
  background: lightblue;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.tweet{
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 300px;
  background: white;
  justify-content: space-around;
  align-items: center;
}
.red {
  color: red;
  font-size: 50px;
}